.wrapper {
  width: 75vw;
  height: 100vh;
  margin: 5vh auto;
}
.button {
  display: block;
  padding: 5px;
  margin-top: 25px;
  font-size: 1rem;
  color: red;
  border: 1px solid red;
  background: none;
}
